{% extends 'login/base.html' %}
{% block head %}
    <title>{% block title %}Main Page{% endblock %}</title>
    {% block css %}
        <link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
    {% endblock %}
    {% block js %}
        <script src="https://cdn.staticfile.org/jquery/2.1.1/jquery.min.js"></script>
        <script src="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
    {% endblock %}
{% endblock %}

{% block content %}
    <nav class="navbar navbar-default" role="navigation">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="#">主页</a>
            </div>
            <ul class="nav navbar-nav navbar-right">
                {% if not session.get("username") %}
                    <li><a href="{{ url_for('user.register') }}"><span class="glyphicon glyphicon-user"></span> 注册</a>
                    </li>
                    <li><a href="{{ url_for('user.login') }}"><span class="glyphicon glyphicon-log-in"></span> 登录</a>
                    </li>
                {% else %}
                    <li><a href="{{ url_for('user.home') }}"><span class="glyphicon glyphicon-user"></span>
                        在线用户:{{ session.get("username") }}</a></li>
                    <li><a href="{{ url_for('user.logout') }}"><span class="glyphicon glyphicon-log-in"></span> 退出</a>
                    </li>
                {% endif %}
            </ul>
        </div>
    </nav>
{% endblock %}
