{% extends 'login/base.html' %}
{% block head %}
    <title>{% block title %} Login Page {% endblock %}</title>
    {% block css %}
        <link rel="stylesheet" type="text/css"
              href="{{ url_for('static',filename='bootstrap/css/bootstrap.min.css') }}">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='login/css/my-login.css') }}">
    {% endblock %}
    {% block js %}
        <script src="{{ url_for('static',filename='login/js/jquery.min.js') }}"></script>
        <script src="{{ url_for('static',filename='bootstrap/js/bootstrap.min.js') }}"></script>
        <script src="{{ url_for('static',filename='login/js/my-login.js') }}"></script>
    {% endblock %}
{% endblock %}
{% block content %}
    <section class="h-100">
        <div class="container h-100">
            <div class="row justify-content-md-center h-100">
                <div class="card-wrapper">
                    <div class="brand">
                        <img src="{{ url_for('static',filename='login/img/logo.jpg') }}">
                    </div>
                    <div class="card fat">
                        <div class="card-body">
                            <h4 class="card-title">Register</h4>
                            {% if error %}
                                <h4 class="card-title" style="color: red">{{error}}</h4>
                            {% endif %}
                            <form action="{{ url_for('user.register') }}" method="POST">
                                <div class="form-group">
                                    <label for="name">Username</label>
                                    <input id="name" type="text" class="form-control" name="username" required
                                           autofocus>
                                </div>
                                <div class="form-group">
                                    <label for="email">E-Mail Address</label>
                                    <input id="email" type="email" class="form-control" name="email" required>
                                </div>

                                <div class="form-group">
                                    <label for="password1">Password</label>
                                    <input id="password1" type="password" class="form-control" name="password1" required
                                           data-eye>
                                </div>
                                <div class="form-group">
                                    <label for="password2">Confirm Password</label>
                                    <input id="password2" type="password" class="form-control" name="password2" required
                                           data-eye>
                                </div>

                                <div class="form-group">
                                    <label>
                                        <input type="checkbox" name="aggree" value="1"> I agree to the Terms and
                                        Conditions
                                    </label>
                                </div>

                                <div class="form-group no-margin">
                                    <button type="submit" class="btn btn-primary btn-block">
                                        Register
                                    </button>
                                </div>
                                <div class="margin-top20 text-center">
                                    Already have an account? <a href="{{ url_for('user.login') }}">Login</a>
                                </div>
                            </form>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </section>
{% endblock %}