<aside class="main-sidebar sidebar-dark-primary elevation-4">
    <a href="#" class="brand-link">
      <img src="{{ url_for('static',filename='adminlte/dist/img/AdminLTELogo.png') }}" alt="AdminLTE Logo" class="brand-image img-circle elevation-3"
           style="opacity: .8">
      <span class="brand-text font-weight-light">博客后台管理系统</span>
    </a>
    <div class="sidebar">
      <div class="user-panel mt-3 pb-3 mb-3 d-flex">
        <div class="image">
          <img src="{{ url_for('static',filename='uploads/image/') }}{{ user.real_avator }}" class="img-circle elevation-2" alt="User Image">
        </div>
        <div class="info">
          <a href="{{url_for('blogadmin.upload')}}" class="d-block">徐红通</a>
        </div>
      </div>
      <nav class="mt-2">
        <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
          <li class="nav-item has-treeview menu-open">
            <ul class="nav nav-treeview">
              <li class="nav-item">
                <a href="{{ url_for('blogadmin.article') }}" class="nav-link" id="article">
                  <i class="far fa-circle nav-icon"></i>
                  <p>文章列表</p>
                </a>
              </li>
              <li class="nav-item">
                <a href="{{ url_for('blogadmin.add_article') }}" class="nav-link" id="add_article">
                  <i class="far fa-circle nav-icon"></i>
                  <p>添加文章</p>
                </a>
              </li>
              <li class="nav-item">
                <a href="{{ url_for('blogadmin.category') }}" class="nav-link" id="category">
                  <i class="far fa-circle nav-icon"></i>
                  <p>分类列表</p>
                </a>
              </li>
              <li class="nav-item">
                <a href="{{ url_for('blogadmin.add_category') }}" class="nav-link" id="add_category">
                  <i class="far fa-circle nav-icon"></i>
                  <p>添加分类</p>
                </a>
              </li>
              <li class="nav-item">
                  <a href="{{ url_for('blogadmin.edit_notice') }}" class="nav-link" id="add_category">
                      <i class="far fa-circle nav-icon"></i>
                      <p>添加公告</p>
                  </a>
              </li>
              <li class="nav-item">
                  <a href="{{ url_for('blogadmin.upload') }}" class="nav-link" id="add_category">
                      <i class="far fa-circle nav-icon"></i>
                      <p>添加相册</p>
                  </a>
              </li>
            </ul>
          </li>
        </ul>
      </nav>
    </div>
</aside>
